body{
    background: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(32, 32, 32);
}

header{
    background: linear-gradient(to bottom, rgb(35, 14, 153), #300770);
    margin: auto;
}

.conteiner{
    width: 960px;
    height: 150px;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: white;

}

.titulo{
    margin: auto;
    text-align: center;
    height: 120px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.titulo >h1{
    font-size: 32px;
    margin-top: 40px;
    padding: 10px;
}

.titulo img{
    width: 40px;
    padding: 15px;
}
.sobre{
    margin: auto;
    text-align: center;
    height: 30px;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.sobre >h1{
    font-size: 16px;
    margin-bottom: 0px;
    color: red;
    text-decoration: underline;
}

nav{
    margin: auto;
    text-align: center;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin: 0;
    padding: 0;
    width: 960px;
    margin: auto;
  }
  
  h6{
    font-size: 16px;
    margin: 10px 0px;
    padding: 0px;
    color:rgb(186, 188, 189);
    
  }
  nav li {
    display:inline-block;
  }
  
  nav a {
    display: block;
    padding: 10px 20px;
    color:white;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
    transition: 0.8s;
  }

  footer {
    margin: auto;
    background: linear-gradient(to bottom, rgb(35, 14, 153), #300770);
    height: 6vh;

  }

  footer >h1{
    font-size: 15px;
    text-align: center;
    color: white;
    width: 960px;
    margin: auto;
    color: white;
    padding: 20px;
  }

  .conteinercentro{
    width: 960px;
    margin: auto;
    display: flex;
   justify-content: space-between;
    color: black;
    border-top: 1px dotted #b2b4b3;
  }

  .ladoesquerdo {
    display: flex;
    flex-direction: column;
    align-items:top;
    width: 20%;
    padding: 0px;
    text-align: center;
    justify-content:flex-start;
    margin: 0;
  }

  .ladodireito {
    width: 80%;
    padding: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-left: 1px dotted #b2b4b3;
    margin: 0;
    margin-top: 0;
    height: 75vh;
  }

.titulo2{
  background: linear-gradient(to bottom, rgb(26, 161, 71), #11611c);
  padding: 0px;
  margin: 1px;
  width: 98%;
  margin-top: 5px;
  align-items: center;
  justify-content:center ;
  padding: 6px 0px;
  border-radius: 5px;
  cursor: pointer;
}

.titulo2 >h1{
  color: white;
  font-size: 14px;
  text-decoration:underline dotted 1px;
  margin: 0;
}

.titulo2 >h1:hover{
  color: black;
}

.conteudo2{
  background: #b2b4b3;
  margin: 1px;
  padding: 0px;
  width: 98%;
  border-radius: 5px;
}

.conteudo2 >h1{
  color: rgb(0, 0, 0);
  font-size: 14px;
  border-bottom: 1px dotted black;
  margin: 2px;
}

.conteudo2 >h2{
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-style:normal;
  margin: 2px;
  padding: 3px;
  text-align: justify;
}

iframe{
  width: 98%;
  height: 95%;
  margin: 5px;
  font-size: 20%;
  border-radius: 10px;
}
 